<h3>New Project</h3>
<form [formGroup]="addProjectForm" (ngSubmit)="addProject()" )>
  <div>
    <label for="projectName">Project Name</label>
    <input type="text" formControlName="name" class="form-control" id="projectName">
    <span class="form-control alert alert-danger" *ngIf="checkNameIsEmpty()">Project Name can not be bull</span>
    <span class="form-control alert alert-danger"
          *ngIf="checkNameIsMinLengthThree()">Project Name length can be min 3</span>
  </div>
  <div>
    <label for="projectDesc">Description</label>
    <input type="text" formControlName="description" class="form-control" id="projectDesc">
    <span class="form-control alert alert-danger" *ngIf="checkDescriptionIsEmpty()">Descriptipn can not be null</span>
  </div>
  <div>
    <label>Start Date</label>
    <input type="datetime-local" class="form-control" name="">
  </div>
  <div>
    <label>Department</label>
    <select class="form-control" formControlName="departmentId">
      <option>Select</option>
      <option value="{{dep.id}}" *ngFor="let dep of departments">{{dep.name}}</option>
      <span class="form-control alert alert-danger" *ngIf="checkDepartmentIdIsEmpty()">Department can not be null</span>

    </select>
  </div>
  <button class="btn btn-success" type="submit">Add</button>
</form>

